header {
  padding: 5px 15px;
  background-color: #1280c5;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notesHeading {
  color: white;
}

.userLogOut {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logOutButton {
  border-radius: 10px;
}

.userSVG {
  height: 48px;
}

.userNameContainer {
  color: white;
}

#folderContainer {
  display: flex;
  flex-direction: column;
}

#noteContainer {
  display: flex;
  flex-direction: column;
}

#noteArea {
  background-color: blue;
  width: 550px;
}

.mainNote {
  border: 2px solid lightgrey;
}

.folderNav {
  background-color: #fbfbfd;
  border: 2px solid lightgrey;
  width: 300px;
  padding: 0px 20px 0px 10px;
}

.folderButtonsContainer {
  display: flex;
}

.addFolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
}

#folderContainer {
  width: 290px;
}

.searchFolderBar {
  width: 290px;
}

.folderButton {
  width: 245px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: none;
}

#createFolderButton {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.createFolderImage {
  height: 40px;
}

.folderImage {
  height: 30px;
}

.folderOptionButton {
  border: none;
  padding: 14px;
  background: none;
}

.folderOptionImage {
  height: 20px;
}

.folderOptionButton:hover {
  background-color: #0e649a;
}

.folderOptionImage:hover {
  background-color: #0e649a;
}

.deleteFolderImage {
  height: 30px;
}

.renameFolderImage {
  height: 30px;
}

.deleteFolderButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  background-color: #e6e6e6;
}

.renameFolderButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #e6e6e6;
}

.folderAllOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.notesNav {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 6px 20px 0px 20px;
  border: 2px solid lightgrey;
}

.notesNavHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

#createNoteButton {
  border: none;
  background: none;
  padding: 0;
}

.createNoteImage {
  height: 35px;
}

#searchNotesBar {
  width: 290px;
}

.noteButtonsContainer {
  display: flex;
  border-bottom: 1px solid lightgrey;
  width: 290px;
}

.noteButton {
  width: 240px;
  border: none;
}

.noteOptionButton {
  border: none;
}

.noteOptionImage {
  height: 20px;
}

.noteOptionButton:hover {
  background-color: #0e649a;
}

.noteOptionImage:hover {
  background-color: #0e649a;
}

.deleteNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  background-color: #e6e6e6;
}

.pinNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: none;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 15px 5px 15px;
  border-radius: 0;
  background-color: #e6e6e6;
}

.lockNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #e6e6e6;
}

.deleteNoteImage {
  height: 30px;
}

.noteAllOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.pinNoteImage {
  height: 30px;
}

.lockNoteImage {
  height: 30px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.exportImage {
  height: 20px;
}

.deleteNoteToolImage {
  height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

main {
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100vh; /* Set a fixed height for the main container */
}

.folderNav,
.notesNav,
.textSide {
  overflow-y: auto; /* Enable vertical scrolling for each column */
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.1s, color 0.1s;
}

button:hover {
  background-color: #1280c5;
  color: #ffffff;
}

input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

input::placeholder {
  color: #999;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Hide the main scrollbar by default */
main::-webkit-scrollbar {
  width: 0;
}

/* Show the scrollbar when scrolling */
main:hover::-webkit-scrollbar {
  width: 8px;
}

/* Style for the scrollbar handle or thumb */
main::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color for the thumb */
  border-radius: 4px;
}

/* Style for the scrollbar track when not being hovered */
main::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Light gray color for the track */
}

/* Style for the scrollbar handle or thumb when being hovered */
main::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue color when hovered */
}

/* Apply the scrollbar styles to each column individually */
.folderNav::-webkit-scrollbar,
.notesNav::-webkit-scrollbar,
.textSide::-webkit-scrollbar {
  width: 0;
}

.folderNav:hover::-webkit-scrollbar,
.notesNav:hover::-webkit-scrollbar,
.textSide:hover::-webkit-scrollbar {
  width: 8px;
}

.folderNav::-webkit-scrollbar-thumb,
.notesNav::-webkit-scrollbar-thumb,
.textSide::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color for the thumb */
  border-radius: 4px;
}

.folderNav::-webkit-scrollbar-track,
.notesNav::-webkit-scrollbar-track,
.textSide::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Light gray color for the track */
}

.folderNav::-webkit-scrollbar-thumb:hover,
.notesNav::-webkit-scrollbar-thumb:hover,
.textSide::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue color when hovered */
}

/*# sourceMappingURL=style.css.map */
