header {
  padding: 5px 15px;
  background-color: #1280c5;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
}

#notesHeading {
  color: white;
}

.userLogOut {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logOutButton {
  border-radius: 10px;
}

.userSVG {
  height: 48px;
}

.userNameContainer {
  color: white;
}

#folderContainer {
  display: flex;
  flex-direction: column;
}

#noteContainer {
  display: flex;
  flex-direction: column;
}

.mainNote {
  border: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#noteArea {
  width: 100%;
  height: 100%;
  flex: 1;
}

.note {
  flex: 1;
  width: 100%;
  height: 100%;
}

.folderNav {
  background-color: #fbfbfd;
  border: 2px solid lightgrey;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  padding: 0px 20px 0px 10px;
}

.folderButtonsContainer {
  display: flex;
}

.addFolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
}

#folderContainer {
  width: 290px;
}

.searchFolderBar {
  width: 290px;
}

.folderButton {
  width: 245px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: none;
}

#createFolderButton {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.createFolderImage {
  height: 40px;
}

.folderImage {
  height: 30px;
}

.folderOptionButton {
  border: none;
  padding: 14px;
  background: none;
}

.folderOptionImage {
  height: 20px;
}

.folderOptionButton:hover {
  background-color: #0e649a;
}

.folderOptionImage:hover {
  background-color: #0e649a;
}

.deleteFolderImage {
  height: 30px;
}

.renameFolderImage {
  height: 30px;
}

.deleteFolderButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.renameFolderButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #e6e6e6;
}

.folderAllOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.backToFolders {
  border: none;
  padding: 0;
}

.notesNav {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  padding: 0px 20px 0px 10px;
  border: 2px solid lightgrey;
}

.notesNavHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}

#createNoteButton {
  border: none;
  background: none;
  padding: 0;
}

.createNoteImage {
  height: 35px;
}

#searchNotesBar {
  width: 290px;
}

.noteButtonsContainer {
  display: flex;
  border-bottom: 1px solid lightgrey;
  width: 290px;
}

.noteButton {
  width: 240px;
  border: none;
}

.noteOptionButton {
  border: none;
}

.noteOptionImage {
  height: 20px;
}

.noteOptionButton:hover {
  background-color: #0e649a;
}

.noteOptionImage:hover {
  background-color: #0e649a;
}

.deleteNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.pinNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: none;
  border-bottom: 2px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 15px 5px 15px;
  border-radius: 0;
  background-color: #e6e6e6;
}

.lockNoteButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #e6e6e6;
}

.deleteNoteImage {
  height: 30px;
}

.noteAllOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.pinNoteImage {
  height: 30px;
}

.lockNoteImage {
  height: 30px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
.toolbar__backToNotes {
  display: none;
  border: none;
}
.toolbar__export {
  border: none;
  padding: 4px;
}

.backToFolders {
  display: none;
}

.exportImage {
  height: 40px;
}

.deleteNoteToolImage {
  height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
}

.folderNav,
.notesNav,
.mainNote {
  height: 90%;
  overflow-y: auto; /* Enable vertical scrolling for each column */
}

.mainNote {
  padding-right: 20px;
  padding-left: 20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.1s, color 0.1s;
}

button:hover {
  background-color: #1280c5;
  color: #ffffff;
}

input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

input::placeholder {
  color: #999;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8; /* Light background color */
  font-size: 20px;
  border: 1px solid #ccc; /* Border to provide a subtle separation */
  border-radius: 5px; /* Rounded corners for a modern look */
  outline: none;
  padding: 25px; /* Adequate padding for better readability */
  resize: none; /* Disable resizing of the textarea */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions */
  font-family: "Roboto", sans-serif;
}

textarea:focus {
  border-color: #3498db; /* Highlight border color on focus */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); /* Add a subtle box shadow on focus */
}

.backImage {
  height: 40px;
  padding: 0;
}

/* Hide the main scrollbar by default */
main::-webkit-scrollbar {
  width: 0;
}

/* Show the scrollbar when scrolling */
main:hover::-webkit-scrollbar {
  width: 8px;
}

/* Style for the scrollbar handle or thumb */
main::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color for the thumb */
  border-radius: 4px;
}

/* Style for the scrollbar track when not being hovered */
main::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Light gray color for the track */
}

/* Style for the scrollbar handle or thumb when being hovered */
main::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue color when hovered */
}

/* Apply the scrollbar styles to each column individually */
.folderNav::-webkit-scrollbar,
.notesNav::-webkit-scrollbar,
.textSide::-webkit-scrollbar {
  width: 0;
}

.folderNav:hover::-webkit-scrollbar,
.notesNav:hover::-webkit-scrollbar,
.textSide:hover::-webkit-scrollbar {
  width: 8px;
}

.folderNav::-webkit-scrollbar-thumb,
.notesNav::-webkit-scrollbar-thumb,
.textSide::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color for the thumb */
  border-radius: 4px;
}

.folderNav::-webkit-scrollbar-track,
.notesNav::-webkit-scrollbar-track,
.textSide::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Light gray color for the track */
}

.folderNav::-webkit-scrollbar-thumb:hover,
.notesNav::-webkit-scrollbar-thumb:hover,
.textSide::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker blue color when hovered */
}

.mainNote {
  display: block;
}

@media (max-width: 1088px) {
  .folderNav {
    display: none; /* Hide the folderNav */
  }
  .backToFolders {
    display: block;
  }
}
@media (max-width: 780px) {
  .folderNav {
    display: block;
  }
  .toolbar__backToNotes {
    display: block;
  }
  .notesNav {
    width: 95%;
    display: none; /* Hide the notesNav */
  }
  .notesNavHead {
    width: 100%;
  }
  .noteContainer {
    width: 100%;
  }
  .noteButtonsContainer {
    width: 100%;
  }
  #searchNotesBar {
    width: 100%;
  }
  .noteButton {
    width: 100%;
  }
  .folderNav {
    width: 89%;
    display: none; /* Hide the notesNav */
  }
  .addFolder {
    width: 100%;
  }
  #folderContainer {
    width: 100%;
  }
  .folderButtonsContainer {
    width: 100%;
  }
  .searchFolder {
    width: 100%;
  }
  .searchFolderBar {
    width: 100%;
  }
  .folderButton {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
