.folderNav {
  background-color: #fbfbfd;
  height: 700px;
  width: 300px;
  padding: 0px 20px 0px 0px;
}

.folderButtonsContainer {
  display: flex;
}

.addFolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#folderContainer {
}

.folderButton {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: none;
}

#folderNameInput {
  width: 180px;
  height: 20px;
}

#createFolderButton {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
}

.createFolderImage {
  height: 40px;
}

.folderImage {
  height: 30px;
}

.folderOptionButton {
  border: none;
  padding: 14px;
  background: none;
}

.folderOptionImage {
  height: 20px;
}

.deleteFolderImage {
  height: 30px;
}

.deleteFolderButton {
}

.folderAllOptionsContainer {
  display: block;
  position: absolute;
  z-index: 1;
}
