* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  //   margin: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  //   flex: 1;
  //   overflow: hidden;
}

.folderNav,
.notesNav,
.mainNote {
  height: 90%;
  overflow-y: auto; /* Enable vertical scrolling for each column */
}

.mainNote {
  //   overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.1s, color 0.1s;
}

button:hover {
  background-color: #1280c5;
  color: #ffffff;
}

input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

input::placeholder {
  color: #999;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8; /* Light background color */
  font-size: 20px;
  border: 1px solid #ccc; /* Border to provide a subtle separation */
  border-radius: 5px; /* Rounded corners for a modern look */
  outline: none;
  padding: 25px; /* Adequate padding for better readability */
  resize: none; /* Disable resizing of the textarea */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions */
  font-family: "Roboto", sans-serif;
}

textarea:focus {
  border-color: #3498db; /* Highlight border color on focus */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); /* Add a subtle box shadow on focus */
}

.backImage {
  height: 40px;
  padding: 0;
}
