#folderContainer {
  display: flex;
  flex-direction: column;
}

#noteContainer {
  display: flex;
  flex-direction: column;
}

#noteArea {
  background-color: blue;
  width: 550px;
}

.mainNote {
  border: 2px solid lightgrey;
}
